/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 20px;
}

/* Map Styles */
.leaflet-container {
    background: #0f172a; /* Match slate-900 */
}

/* Custom Plane Icon Rotation */
.plane-icon {
    transition: transform 0.5s linear;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}

/* Popup Styles */
.leaflet-popup-content-wrapper {
    background: rgba(30, 41, 59, 0.9);
    backdrop-filter: blur(4px);
    color: white;
    border: 1px solid #334155;
    border-radius: 8px;
}
.leaflet-popup-tip {
    background: rgba(30, 41, 59, 0.9);
}
